<div class="row">
  <div class="col-xs-12">
    <img src="{{ selectedArtist?.image }}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ selectedArtist?.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{ selectedArtist?.listeners }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ selectedArtist?.playcount }}</p>
  </div>
<div class="row">
  <div class="col-xs-12">

  </div>
</div>
